__pycache__/
vis*/
.vscode/
.DS_Store
.DS_Store/
.ipynb_checkpoints/
Others/rand_affine_test/
Others/niftyreg/
data/CIA-external-npy
data/Cancer_Image_Archive_Selected_Data
data/CIA_landmarks
data/manifest-1557521391779
